html{
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
}

body{
    margin: 0 auto;
    background-color: #FFFFFF;
}

.container{
    width: calc(360px - 40px);
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;

}

.swiper1{
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.swiper1-wrapper{
    width: 100%;
}

.banner_img{
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}

.swiper2{
    width: 100%;
    height: 216px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.swiper2-wrapper{
    width: 100%;
}

.swiper2-slide{
    max-width: 100%;
}

.header_buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    padding: 15px 0;
    
}

.left_buttons{
    width: 26.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #F0F0F0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dom_logo{
    width: 47%;
    display: flex;
    justify-content: center;
    height: 40px;
}

.logo_icon{
    width: 67px;
    height: 42px;
}

.right_buttons{
    width: 26.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search_line{
    width: calc(100% - 30px);
    padding: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: none;
    background-color: #F0F0F0;
     
}

.search_line:focus-visible{
    outline: #FFFFFF;
}


::placeholder{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #8D9EAF;
}

.search_button{
    border: 0;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px 16px;
}

.popular{
    width: 100%;
    min-width: 100%;
    height: 174px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.popular_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #212324;
}

.card_slider{
    margin-top: 20px;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
    overflow-x: scroll;

}

.card{
    min-width: 132px;
    width: 132px;
    height: 100%;
    background: #F9F9F9;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.img_card{
    width: 64px;
    height: 64px;
}

.text_card{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* or 123% */
    text-decoration: none;
    text-align: center;

    /* Цвета/Черный */

    color: #212324;
}

.lastest{
    width: 100%;
    height: 260px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lastest_text{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #212324;
}

.item_card_slider{
    width: 100%;
    height: 216px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow-x: scroll;
    margin-top: 20px;
    gap: 10px;
}

.item_card{
    
    border: 1px solid #F0F0F0;
    border-radius: 4px;
    padding: 16px;
}

.item_card_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.item_image{
    margin-right: 12px;
    position: relative;
    
}

#laminat_img{
    border-radius: 4px;
    
}

.sticker{
    position: absolute;
    top: 0px;
    left: 0px;
    background: #4FC05A;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span.sticker_text{
    margin: 2px 4px 2px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    user-select: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info_text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    color: #212324;
}

.rating{
    width: 111px;
    height: 28px;
}

.price{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Цвета/Черный */

    color: #212324;
}

.bonuses{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    display: flex;
    align-items: center;

    /* Цвета/Синеголобой */

    color: #8D9EAF;
}

.add_to_cart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.to_cart_button{
    width: 98px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    background: #EEF0F3;
    border-radius: 4px;
    cursor: pointer;
    border-style: none;
}

.to_cart_text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */

    display: flex;
    align-items: center;

    /* Цвета/Синий */

    color: #4F738E;
}

.like_button{
    cursor: pointer;
}

footer{
    margin-top: 25px;
    width: 100%;
}

.stecks{
    height: 100%;
    width: 100% ;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 19px;
}

.first_steck{
    display: flex;
    flex-direction: column;
}

.second_steck{
    display: flex;
    flex-direction: column;
}

.third_steck{
    display: flex;
    flex-direction: column;
}

.secnd_third_stecks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_h{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 15px;
}

.footer_p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    width: fit-content;
    color: #4F738E;
}

.footer_p:hover{
    color: black;
    /**transition-duration: 0.3s;
    transform: scale(1.3);**/
}

/**.footer_p:nth-child(odd){
    animation-name: rotation_left;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: 0s;
    animation-play-state: running;
}

.footer_p:nth-child(even){
    animation-name: rotation_right;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: 0s;
    animation-play-state: running;
}

@keyframes rotation_left{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rotation_right{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}**/

.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}

.signature{
    width: 50%;
    display: flex;
    flex-direction: row;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #4F738E;
}

.socials{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
